[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.4"
asgiref = "==3.2.10"
async-timeout = "==3.0.1"
attrs = "==20.2.0"
authentication = "==1.1.0"
autobahn = "==20.7.1"
cached-property = "==1.5.2"
cachetools = "==4.1.1"
certifi = "==2020.6.20"
celery = "==5.0.2"
cffi = "==1.14.3"
channels = "==3.0.1"
channels-redis = "==3.2.0"
chardet = "==3.0.4"
click = "==7.1.2"
colorama = "==0.4.4"
config = "==0.5.0.post0"
constantly = "==15.1.0"
coreapi = "==2.3.3"
coreschema = "==0.0.4"
cryptography = "==3.1.1"
distlib = "==0.3.1"
daphne = "==3.0.1"
django-allauth = "==0.43.0"
django-cors-headers = "==3.5.0"
django-rest-auth = "==0.9.5"
django-templated-mail = "==1.1.1"
djangorestframework = "==3.12.1"
djangorestframework-jwt = "==1.11.0"
djangorestframework-simplejwt = "==4.5.0"
django-heroku = "*"
django-redis-cache = "*"
djoser = "==2.1.0"
docker = "==4.3.1"
fastrlock = "==0.5"
filelock = "==3.0.12"
futures = "==3.1.1"
google-assistant-grpc = "==0.2.1"
google-assistant-sdk = "==0.6.0"
google-auth = "==1.23.0"
google-auth-oauthlib = "==0.4.2"
googleapis-common-protos = "==1.52.0"
grpcio = "==1.33.2"
gunicorn = "==20.0.4"
h11 = "==0.11.0"
hiredis = "==1.1.0"
hyperlink = "==20.0.1"
idna = "==2.10"
importlib-metadata = "==1.7.0"
incremental = "==17.5.0"
ipaddress = "==1.0.23"
itsdangerous = "==1.1.0"
itypes = "==1.2.0"
msgpack = "==1.0"
nose = "==1.3.7"
oauthlib = "==3.1.0"
package-name = "==0.1"
passlib = "==1.7.4"
pipenv = "==2020.11.4"
protobuf = "==3.14.0"
psycopg2 = "==2.8.6"
psycopg2-binary = "==2.8.6"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycparser = "==2.20"
pycryptodome = "==3.9.9"
pynder = "==0.0.13"
pyperclip = "==1.8.1"
python-dateutil = "==2.8.1"
python-dotenv = "==0.15.0"
python3-openid = "==3.2.0"
pytz = "==2020.1"
pyyaml = "==5.3.1"
redis = "==3.5.3"
requests = "==2.24.0"
requests-oauthlib = "==1.3.0"
rsa = "==4.6"
selenium = "==3.141.0"
six = "==1.15.0"
social-auth-app-django = "==4.0.0"
social-auth-core = "==3.3.3"
sounddevice = "==0.3.15"
sqlparse = "==0.3.1"
tenacity = "==4.12.0"
txaio = "==20.4.1"
typing-extensions = "==3.7.4.3"
uritemplate = "==3.0.1"
urllib3 = "==1.25.11"
uvicorn = "==0.12.2"
virtualenv = "==20.1.0"
virtualenv-clone = "==0.5.4"
watchgod = "==0.6"
websockets = "==8.1"
whitenoise = "==5.2.0"
zipp = "==3.4.0"
"zope.interface" = "==5.1.0"
Automat = "==20.2.0"
Django = "==3.1.1"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
MouseInfo = "==0.1.3"
Pillow = "==8.0.1"
PyAutoGUI = "==0.9.52"
PyGetWindow = "==0.0.9"
Pygments = "==2.7.2"
PyHamcrest = "==2.0.2"
PyJWT = "==1.7.1"
PyMsgBox = "==1.0.9"
pyOpenSSL = "==19.1.0"
PyRect = "==0.1.4"
PyScreeze = "==0.1.26"
PyTweening = "==1.0.3"
service_identity = "==18.1.0"
Twisted = "==20.3.0"
websocket_client = "==0.57.0"
Werkzeug = "==1.0.1"
WTForms = "==2.3.3"
django-filter = "*"
django-s3direct = "*"
django-storages = "*"
boto3 = "*"
django-file-download = "*"
boto = "*"

[dev-packages]

[requires]
python_version = "3.7.0"
