.ReactCrop img {
    max-height: 600px;
    max-width: 700px;
}


.crop_button {

}

.cancel_button {
    border: none;
    color: #928888;
    background-color: transparent;
    font-weight: bold;
    float: left;
}

.upload_button {
    border: none;
    color: palevioletred;
    background-color: transparent;
    float: right;
    font-weight: bold;
}