@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');



.home {
    text-align: center;
}

#home_logo{
    font-size: 65px;
    margin-top: 10px;
    margin-left: 10px;
    
}
.home_title {
    font-size: 50px;
    font-family: 'Sonsie One';
    display: flex;
    max-height: 100px;
    min-width: 500px;
}

.home_intro {
    font-size: 7vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-family: 'Cinzel', serif;
    color: #ff6b6b;
}
.home_intro2 {
    font-size: 7vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-family: 'Cinzel', serif;
    color: white;
}

.outline {
    display        : inline-block;
    color          : white;            /* 文字の色 */
    text-shadow    : 
    2px  2px 0px black,
   -2px  2px 0px black,
    2px -2px 0px black,
   -2px -2px 0px black,
    2px  0px 0px black,
    0px  2px 0px black,
   -2px  0px 0px black,
    0px -2px 0px black;        /* 文字の影 */
}
.home_button1 {
    bottom: 5vh;
    color: rgb(255, 251, 251);
    height: 90px;
    min-width:300px;
    font-size: 45px;
    border-radius: 40px;
    /* background: linear-gradient(-135deg, #108c8c, #13ffec); */
    background-color: aquamarine;
    border: none;
    transition: all 0.3s ease-in;
    position: relative;
    margin: 20px;
    /* background-color: transparent;
    border: 2px solid black; */
}

.home_button1:focus {
    outline: none;
}

.home_button1:hover {
    background: linear-gradient(-135deg, #83cfda, #4fe6d9);
}

.home_button1:active span::after {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 300px;
    height: 90px;
    border-radius: 40px;
    margin-top: -5px;
    margin-left: -10px;
    content: "";
    background: linear-gradient(-135deg, #9acdf7, #6aeeff);
    border-radius: 100%;
    opacity: 0;
    animation: ripple 0.3s 1 ease-out;
}


.home_button2 {
    bottom: 5vh;
    color: rgb(255, 255, 255);
    height: 90px;
    min-width:300px;
    font-size: 45px;
    border-radius: 40px;
    /* background: linear-gradient(-135deg, #f89dc8, #ff13e0); */
    background-color: #ffcf46;
    border: none;
    transition: all 0.3s ease-in;
    position: relative;
    margin: 20px;
}

.home_button2:focus {
    outline: none;
}

.home_button2:hover {
    background: linear-gradient(-135deg, #edfc64, #facd52);
}

.home_button2:active span::after {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 300px;
    height: 90px;
    border-radius: 40px;
    margin-top: -5px;
    margin-left: -10px;
    content: "";
    background: linear-gradient(-135deg, #f1f7a1, #ffeb36);
    border-radius: 100%;
    opacity: 0;
    animation: ripple 0.3s 1 ease-out;
}

.home_button3 {
    bottom: 5vh;
    color: rgb(255, 255, 255);
    height: 90px;
    min-width:300px;
    font-size: 45px;
    border-radius: 40px;
    /* background: linear-gradient(-135deg, #f89dc8, #ff13e0); */
    background-color: #e24af7;
    border: none;
    transition: all 0.3s ease-in;
    position: relative;
    margin: 20px;
}

.home_button3:focus {
    outline: none;
}

.home_button3:hover {
    background: linear-gradient(-135deg, #e461dd, #8b0074);
}

.home_button3:active span::after {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 300px;
    height: 90px;
    border-radius: 40px;
    margin-top: -5px;
    margin-left: -10px;
    content: "";
    background: linear-gradient(-135deg, #be3cb4, #b654ae);
    border-radius: 100%;
    opacity: 0;
    animation: ripple 0.3s 1 ease-out;
}
